    <br>
    <a id="account" class="btn btn-info" routerLink="/create-account">Create Account</a>
    <a id="payment" class="btn btn-dark" routerLink="/create-payment">Make Payment</a>
    <br>
    <br>
    <table class="table table-striped table table-hover">
      <thead>
        <tr>
          <th scope="col">User Id</th>
                <th scope="col">Account No.</th>
                <th scope="col">Name</th>
                <th scope="col">Phone-Number</th>
                <th scope="col">Description</th>
                <th scope="col">View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let account of account">
          <td>{{account.id}}</td>
          <td>{{account.accountNumber}}</td>
          <td>{{account.accountHolderName}}</td>
          <td>{{account.accountHolderPhoneNumber}}</td>
          <td>{{account.accountDescription}}</td>
          <td (click)="onSelect(account)" class="btn btn-info" style="cursor: pointer;">Details</td>
        </tr>
        
      </tbody>
    </table>


